html,
body {
    height: 100%;
}

#wrap { 
    min-height: 100%;
    height: auto !important;
    margin: 0 auto - 60px;
}

#body {
    padding-top: 40px;
}

#footer {
    background-color: #9ECB62;
}

#footerimg {
    padding-top: 0px;
    height: 60px; 
    width: 60px; 
}

#leafimg {
    height: 60px; 
    width: 60px; 
}

@media (max-width:400px) {
    #timetable {
        width: 280px;
    }
}
